@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}

:root {
  --pink: #ff52c1;
  --cyan1: hsl(193, 100%, 96%);
  --cyan2: #00252e;
  --blue: #808e9a;
  --white: #ffffff;
  --box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.1);
  --border-radius: 1.5rem;
}

.main-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
}

p {
  opacity: 0.6;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.btn {
  border-radius: var(--border-radius);
  background-color: var(--white);
  border: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 3.75rem;
}

.btn-primary {
  background-color: var(--pink);
  color: var(--white);
  margin-top: 2rem;
}

.btn-try:hover {
  filter: brightness(1);
  opacity: 0.7;
  transition: color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  filter: brightness(0.7);
  opacity: 0.7;
  transition: color 0.3s, border-color 0.3s;
}

.container {
  padding: 0 1.25rem;
  margin: 0 8% 0 8%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex > div {
  flex: 1;
}

header {
  background-image: url('./images/bg-hero-desktop.svg');
  background-size: cover;
  background-color: var(--cyan1);
  padding: 2.5rem 0;
  background-position: center center;
}

nav {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.build-section p {
  margin-top: 1rem;
}

.box {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
  margin: 2.5rem 0;
  padding: 3.75rem;
}

.box img {
  width: 80%;
}

.small-box {
  display: inline-block;
  position: relative;
  margin-bottom: -50%;
  z-index: 1;
}

.center {
  text-align: center;
}

footer {
  background-color: var(--cyan2);
  color: var(--white);
  padding: 10rem 0 3.75rem;
}

.footer-section {
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;
}

footer ul li {
  margin-bottom: 1.25rem;
}

.about-section li {
  text-wrap: nowrap;
}

footer .phone,
.email {
  cursor: pointer;
}

.phone:hover {
  text-decoration: underline;
}

.email:hover {
  text-decoration: underline;
}

.about > li:hover {
  text-decoration: underline;
}

.career > li:hover {
  text-decoration: underline;
}

.address-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 2px solid red; */
}

.address-section p {
  opacity: 1;
  width: 100%;
  padding-right: 1rem;
}

.first img {
  margin-right: 1rem;
}

.address {
  display: flex;
  /* justify-content: space-between; */
}

.address img {
  height: 20px;
  margin-top: 9px;
  margin-right: 25px;
}

.about-section {
  display: flex;
  gap: 1rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20%; */
}

.footer-logo {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

footer .circle {
  position: relative;
  border: 2px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.7rem;
  height: 2.5rem;
  width: 2.5rem;
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s;
}

footer .circle::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
}

footer .circle:hover {
  color: var(--pink);
  border-color: var(--pink);
}

footer {
  position: relative;
}

.copyright {
  opacity: 1;
  position: absolute;
  right: 4.5rem;
}

/* media query */

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  nav.flex {
    flex-direction: row;
  }

  .logo {
    height: 1.25rem;
  }

  .btn-try {
    padding: 0.5rem 1.25rem;
  }

  .header-img {
    margin-top: 2.5rem;
    margin-left: 0;
    width: 100%;
  }

  .flex {
    flex-direction: column-reverse;
  }

  .build-section {
    flex-direction: column;
  }

  .small-box {
    margin: 4% 0;
    padding: 3%;
    z-index: 1;
    margin-bottom: -50%;
  }

  .reverse-box {
    flex-direction: column;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .footer-logo {
    display: flex;
    justify-content: start;
  }

  .address-section {
    display: flex;
    text-align: start;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0rem;
    text-align: start;
  }

  .socials-section {
    margin-left: 40%;
  }

  footer .container {
    margin: 0;
    padding: 1rem;
  }

  footer ul {
    padding: 0;
  }

  .address-section p {
    text-align: start;
  }
}
